<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Lamp Stack with Ansible</title>
    </head>

    <body>
        <h1>Lamp Stack with Ansible</h1>
        <p>It Works</p>    
    </body>
</html>